@import url('https://fonts.googleapis.com/css2?family=Alata&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
	text-decoration: none !important;
}
li {
	list-style: none;
}
:root {
	--poppins: 'Poppins', sans-serif;
	--pm: #EEEEEE;
	--sc: #FFFFFF;
	--ac: #0125FF;
	--ac-low: rgba(1, 37, 255, .2);
	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--black: #000000;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Alata", Sans-Serif !important;
  background: var(--pm) !important;
}

img {
    pointer-events: none;
}
.bg-pm {
  background: var(--pm);
}
.bg-sc {
  background: var(--sc);
}
.bg-ac {
  background: var(--ac);
}
.bg-ac-low {
  background: var(--ac-low);
}
.text-pm {
  color: var(--pm);
}
.text-sc {
  color: var(--sc);
}
.text-ac {
  color: var(--ac);
}
.text-ac-low {
  color: var(--ac-low);
}
.text-black {
  color: var(--black);
}

/* animated */
.animate__bounceUp {
    animation: bounceUp 1s ease infinite alternate;
}
@keyframes bounceUp {
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

/*navbar style*/
.navbar {
  background: var(--sc) !important;
}
.navbar-brand img {
  width: 80px;
}
.navbar-toggler {
  background: var(--ac-low) !important;
  border: 0 !important;
  border-radius: 0 !important;
}
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
  box-shadow: 0 0 0 !important;
  border: 0 !important;
}
.navbar-toggler span {
  color: var(--ac);
  font-size: 33px;
}
.nav-link {
  color: var(--ac) !important;
}
.nav-login-lg {
  right: 23px;
  color: var(--ac);
}
.header-nav-lg {
  height: 75px;
  background: var(--sc);
  border-bottom: 1px solid var(--pm);
}
.header-nav-lg img {
  width: 100px;
}
.header-nav-lg span {
  font-size: 22px;
  color: var(--black);
}
@media screen and (max-width: 750px) {
  .nav-login-lg {
    display: none;
  }
  .header-nav-lg {
    display: none;
  }
  .navbar-brand span {
      width: 40px;
      font-size: 10px;
  }
}
@media screen and (min-width: 750px) {
  .navbar-brand {
    display: none !important;
  }
  .nav-login-lg {
    display: flex;
  }
  .header-nav-lg {
    display: flex;
  }
  .navbar-collapse {
    padding-block: 5px;
  }
}


/*content home style*/
/*content home style*/
.hero-home {
  height: 200px;
}
.img-hero-home {
  width: 100%;
  object-fit: cover;
}
.con-hr {
  height: 8px;
}
.hr-ac {
  background: var(--ac);
  z-index: 99;
  height: 5px;
  top: -4px;
  width: 100px;
  /*animation: hrAnimation 1s infinite alternate ease;*/
}
.shadow-hover {
  transition: all .6s ease;
}
.shadow-hover:hover {
  box-shadow: 0 0 10px 3px rgba(0,0,0,.1) !important;
}
.box-trainer span {
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-size: 15px ;
}
@keyframes hrAnimation {
  0% {
    width: 80px;
  }
  50% {
    width: 140px;
  }
  100% {
    width: 50px;
  }
}
.mb25 {
  margin-bottom: 25px;
}
.gap25 {
  gap: 25px;
}
.box-trainer {
  width: auto;
  height: auto;
  overflow: hidden;
  flex-wrap: wrap;
}
.img-trainer {
  width: 280px;
  height: 400px;
  background-size: cover !important;
}
.box-manfaat {
    width: 200px;
    height: auto;
    background: white;
    flex-shrink: 0;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.box-manfaat h1 {
    font-size: 1.5em;
}
.box-manfaat p {
    font-size: 13px;
}
.img-galery {
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width: 750px) {
  .box-mt-1,
  .box-mt-2 {
    width: 100%;
  }
  .img-hero-home {
      width: 100%;
  }
  .frame-yt {
      margin-top: 10px;
      width: 100%;
  }
  .box-gk-1,
  .box-gk-2 {
    width: 100%;
  }
  .box-trainer {
    width: 100%;
    margin: 10px;
    justify-content: center;
  }
  .box-manfaat {
      width: 100%;
  }
  .con-galery {
      flex-direction: row !important;
      overflow-x: scroll;
  }
}
@media screen and (min-width: 750px) {
  .hero-home {
    height: 500px;
  }
  .img-hero-home {
      height: 680px;
      width: 50%;
  }
  .img-galery {
      width: 500px;
  }
  .frame-yt {
      width: 50%;
      height: 680px;
  }
  .box-trainer {
    height: auto;
  }
  .box-mt-1,
  .box-mt-2 {
   /* width: 47% !important;*/
  }
  .section-materi-manfaat {
    grid-template-columns: 1fr 1fr;
  }
  .section-profile-sekolah {
  }
  .section-galery {
  }
  .gap-lg-25 {
    gap: 25px;
  }
  .mb-lg-25 {
    margin-bottom: 25px;
  }
  .con-galery {
      flex-wrap: wrap;
  }
}

/*footer style*/
footer {
  width: 100%;
  background: var(--sc);
}
.map-footer {
}
@media screen and (max-width: 750px) {
  footer {
    text-align: left;
  }
}
@media screen and (min-width: 750px) {
 footer {
   justify-content: center;
   align-items: center;
 }
 .map-footer {
   width: 30% !important;
 }
 .fc-1 {
   width: 30% !important;
 }
 .fc-2 {
   width: 23% !important;
 }
}